<div>
    <div class="title">
        <span>
            {{todo().title}}
        </span>
        <button
        (click)="toggleDropdown($event)"
        >
            <mat-icon>more_vert</mat-icon>
            @if (dropdownOpen()) {
                <div 
                class="options"
                >
                    <button
                        (click)="editTodo(todo().id)"
                    >Edit</button>
                    <button
                        (click)="deleteTodo(todo().id)"
                    >Delete</button>
                </div>
            }
        </button>
    </div>
    <div class="description">{{todo().description}}</div>
</div>
<div class="status">
    <div class="id">id: {{todo().id}}</div>
    <div>
        <label for="completed">Completed</label>
        <input
        [ngModel]="todo().completed" 
        type="checkbox"
        name="completed"
        id="completed">
    </div>
</div>