:root {
    //primaries
    --primary-color: #ff4b2b;
    --secondary-color: #cf2f54;
    // colors
    --color-success: #45b26b;
    --color-info: #000000;
    --color-warning: #ffd166;
    --color-error: #b12d2a;
    --color-disabled: #d8d8d8;
    --color-disabled-button: #1b294c;
    //backgrounds
    --color-bg-primary: #f0f0f0;
    --color-bg-content: #ffffff;
    //font
    --color-font-primary: #ffffff;
    --color-font-secondary: #000000;

}