<form
#f="ngForm">
    <div class="username">
        <label for="username">Username</label>
        <input
            ngModel
            #usernameInput="ngModel"
            placeholder="JohnDoe" 
            type="text"
            id="username"
            name="username"
            required>
            @if (usernameInput.touched && validation()?.error?.format()?.username; as usernameValidation) {
                <div>
                    {{usernameValidation._errors[0]}}
                </div>
            }
    </div>
    <div class="password">
        <label for="password">Password</label>
        <div class="password-container">
            <input
                ngModel 
                #passwordInput="ngModel"
                placeholder="password123"
                [type]="hide() ? 'password' : 'text'"
                id="password" 
                name="password" 
                required>
                <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
                >
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
        </div>
            @if (passwordInput.touched && validation()?.error?.format()?.password; as passwordValidation) {
                <div>
                    {{passwordValidation._errors[0]}}
                </div>
            }
    </div>
    <div class="buttons">
        <button type="submit" (click)="login()">Login</button>
        <button type="button" (click)="clear()">Clear</button>
    </div>
</form>